h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font);
    color: var(--heading-color);
    font-weight: var(--heading-font-weight) !important;
    line-height: var(--heading-line-height);
}

a {
    text-decoration: none;
    transition: all ease 350ms;
    -moz-transition: all ease 350ms;
    -webkit-transition: all ease 350ms;
    color: var(--secondary-color);
}

a:hover {
    color: var(--secondary-color);
    text-decoration: none;
}

button,
input[type="submit"] {
    transition: all ease 350ms;
    -moz-transition: all ease 350ms;
    -webkit-transition: all ease 350ms;
}

a:focus,
button:focus,
input[type="submit"]:focus {
    outline: 0;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    display: inline-block;
    max-width: 100%;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="text"]::-webkit-search-cancel-button {
    display: none;
}

.row {
    --bs-gutter-x: 20px;
}

figure {
    margin: 0;
}

/* -- Background Color -- */

.primary-bg {
    background: var(--primary-color);
}

.secondary-bg {
    background: var(--secondary-color);
}

.background-bg {
    background: var(--background-bg);
}

.soft-bg {
    background: var(--soft-bg);
}

.white-bg {
    background: var(--white-bg);
}

.btn {
    background: var(--primary-color);
    color: var(--white-color);
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 40px;
    padding: 14px 26px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.btn:hover {
    background: var(--heading-color);
}

.btn:before {
    content: "";
    top: 50%;
    --spacing: .25rem;
    right: calc(var(--spacing)*0);
    height: calc(var(--spacing)*0);
    width: calc(var(--spacing)*0);
    --tw-translate-y: calc(calc(1/2*100%)*-1);
    translate: var(--tw-translate-x)var(--tw-translate-y);
    opacity: 0;
    transition-property: all;
    --tw-duration: .3s;
    --tw-ease: var(--ease-in-out);
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='white' viewBox='0 0 256 256'%3E%3Cpath d='M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z'%3E%3C/path%3E%3C/svg%3E");
    background-position: 50%;
    background-repeat: no-repeat;
    position: absolute;
}

.btn:hover:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='white' viewBox='0 0 256 256'%3E%3Cpath d='M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z'%3E%3C/path%3E%3C/svg%3E");
    --spacing: .25rem;
    width: calc(var(--spacing)*2.5);
    height: calc(var(--spacing)*2.5);
    --tw-translate-x: calc(var(--spacing)*-3.5);
    translate: var(--tw-translate-x)var(--tw-translate-y);
    opacity: 1;
}

.btn span {
    transition-property: transform, translate, scale, rotate;
    transition-timing-function: ease-in-out;
    transition-duration: var(--tw-duration, --ease-in-out);
    --tw-duration: .3s;
    --tw-ease: var(--ease-in-out);
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    display: inline-block;
}

.btn:hover span {
    translate: -8px !important;
    --tw-translate-x: calc(var(--spacing)*-2);
    translate: var(--tw-translate-x)var(--tw-translate-y);
}

/* -- Font Size -- */
.fs-12 {
    font-size: 12px !important;
}

.fs-14 {
    font-size: 14px !important;
    line-height: 20px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-18 {
    font-size: 18px !important;
    line-height: 28px;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-26 {
    font-size: 26px !important;
}

.fs-28 {
    font-size: 28px !important;
}

.fs-30 {
    font-size: 30px !important;
}

.fs-44 {
    font-size: 44px !important;
    line-height: 56px;
}

.fs-54 {
    font-size: 54px !important;
}

.fw-mormal {
    font-weight: 400 !important;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-semibold {
    font-weight: 600 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

/* -- Global Color -- */
.text-primary {
    color: var(--primary-color) !important;
}

.text-secondary {
    color: var(--secondary-color) !important;
}

.text-body {
    color: var(--body-color) !important;
}

.text-white {
    color: var(--white-color) !important;
}

/* -- Bourder Rounded -- */
.rounded-6 {
    border-radius: 6px !important;
}

.rounded-8 {
    border-radius: 8px !important;
}

.rounded-10 {
    border-radius: 10px !important;
}

.rounded-12 {
    border-radius: 12px !important;
}

.rounded-16 {
    border-radius: 16px !important;
}

.rounded-100 {
    border-radius: 100px !important;
}

/* -- Margin Bottom -- */
.mb-2 {
    margin-bottom: 2px !important;
}

.mb-4 {
    margin-bottom: 4px !important;
}

.mb-6 {
    margin-bottom: 6px !important;
}

.mb-8 {
    margin-bottom: 8px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-12 {
    margin-bottom: 12px !important;
}

.mb-14 {
    margin-bottom: 14px !important;
}

.mb-16 {
    margin-bottom: 16px !important;
}

.mb-18 {
    margin-bottom: 18px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-22 {
    margin-bottom: 22px !important;
}

.mb-24 {
    margin-bottom: 24px !important;
}

.mb-26 {
    margin-bottom: 26px !important;
}

.mb-28 {
    margin-bottom: 28px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-32 {
    margin-bottom: 32px !important;
}

.mb-34 {
    margin-bottom: 34px !important;
}

.mb-36 {
    margin-bottom: 36px !important;
}

.mb-38 {
    margin-bottom: 38px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

/* -- Margin Top -- */
.mt-2 {
    margin-top: 2px !important;
}

.mt-4 {
    margin-top: 4px !important;
}

.mt-6 {
    margin-top: 6px !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-12 {
    margin-top: 12px !important;
}

.mt-14 {
    margin-top: 14px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-18 {
    margin-top: 18px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-22 {
    margin-top: 22px !important;
}

.mt-24 {
    margin-top: 24px !important;
}

.mt-26 {
    margin-top: 26px !important;
}

.mt-28 {
    margin-top: 28px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

/* -- Margin Top-Bottom -- */
.my-2 {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

.my-4 {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}

.my-6 {
    margin-top: 6px !important;
    margin-bottom: 6px !important;
}

.my-8 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.my-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.my-12 {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}

.my-14 {
    margin-top: 14px !important;
    margin-bottom: 14px !important;
}

.my-16 {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.my-18 {
    margin-top: 18px !important;
    margin-bottom: 18px !important;
}

.my-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.my-40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.my-50 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.my-60 {
    margin-top: 60px !important;
    margin-bottom: 80px !important;
}

/* -- Padding -- */
.p-2 {
    padding: 2px !important;
}

.p-4 {
    padding: 4px !important;
}

.p-6 {
    padding: 6px !important;
}

.p-8 {
    padding: 8px !important;
}

.p-10 {
    padding: 10px !important;
}

.p-12 {
    padding: 12px !important;
}

.p-14 {
    padding: 14px !important;
}

.p-16 {
    padding: 16px !important;
}

.p-18 {
    padding: 18px !important;
}

.p-20 {
    padding: 20px !important;
}

.p-22 {
    padding: 22px !important;
}

.p-24 {
    padding: 24px !important;
}

.p-26 {
    padding: 26px !important;
}

.p-28 {
    padding: 28px !important;
}

.p-30 {
    padding: 30px !important;
}

/* Padding Bottom */
.pb-2 {
    padding-bottom: 2px !important;
}

.pb-4 {
    padding-bottom: 4px !important;
}

.pb-6 {
    padding-bottom: 6px !important;
}

.pb-8 {
    padding-bottom: 8px !important;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.pb-12 {
    padding-bottom: 12px !important;
}

.pb-14 {
    padding-bottom: 14px !important;
}

.pb-16 {
    padding-bottom: 16px !important;
}

.pb-18 {
    padding-bottom: 18px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pb-22 {
    padding-bottom: 22px !important;
}

.pb-24 {
    padding-bottom: 24px !important;
}

.pb-26 {
    padding-bottom: 26px !important;
}

.pb-28 {
    padding-bottom: 28px !important;
}

.pb-30 {
    padding-bottom: 30px !important;
}

/* Padding Bottom */
.pt-2 {
    padding-top: 2px !important;
}

.pt-4 {
    padding-top: 4px !important;
}

.pt-6 {
    padding-top: 6px !important;
}

.pt-8 {
    padding-top: 8px !important;
}

.pt-10 {
    padding-top: 10px !important;
}

.pt-12 {
    padding-top: 12px !important;
}

.pt-14 {
    padding-top: 14px !important;
}

.pt-16 {
    padding-top: 16px !important;
}

.pt-18 {
    padding-top: 18px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-22 {
    padding-top: 22px !important;
}

.pt-24 {
    padding-top: 24px !important;
}

.pt-26 {
    padding-top: 26px !important;
}

.pt-28 {
    padding-top: 28px !important;
}

.pt-30 {
    padding-top: 30px !important;
}

/* Padding Left-Right */
.px-2 {
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.px-4 {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.px-6 {
    padding-left: 6px !important;
    padding-right: 6px !important;
}

.px-8 {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.px-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.px-12 {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.px-14 {
    padding-left: 14px !important;
    padding-right: 14px !important;
}

.px-16 {
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.px-18 {
    padding-left: 18px !important;
    padding-right: 18px !important;
}

.px-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.px-22 {
    padding-left: 22px !important;
    padding-right: 22px !important;
}

.px-24 {
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.px-26 {
    padding-left: 26px !important;
    padding-right: 26px !important;
}

.px-28 {
    padding-left: 28px !important;
    padding-right: 28px !important;
}

.px-30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.px-36 {
    padding-left: 36px !important;
    padding-right: 36px !important;
}

/* Padding Top-Bottom */
.py-2 {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.py-4 {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.py-6 {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

.py-8 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.py-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.py-12 {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.py-14 {
    padding-top: 14px !important;
    padding-bottom: 14px !important;
}

.py-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.py-18 {
    padding-top: 18px !important;
    padding-bottom: 18px !important;
}

.py-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.py-22 {
    padding-top: 22px !important;
    padding-bottom: 22px !important;
}

.py-24 {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}

.py-26 {
    padding-top: 26px !important;
    padding-bottom: 26px !important;
}

.py-28 {
    padding-top: 28px !important;
    padding-bottom: 28px !important;
}

.py-30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

/* -- Responsive -- */
@media all and (max-width:1440px) {}

@media all and (max-width:1199px) {
    .display-1 {
        font-size: 48px;
    }

    .fs-54 {
        font-size: 46px !important;
    }

    .fs-44 {
        font-size: 36px !important;
        line-height: 48px;
    }

    .mb-34 {
        margin-bottom: 20px !important;
    }

    .mb-40 {
        margin-bottom: 30px !important;
    }
}

@media all and (max-width:1024px) {}

@media all and (max-width:991px) {}

@media all and (max-width:767px) {}

@media all and (max-width:575px) {}

@media all and (max-width:410px) {}

@media all and (max-width:340px) {}