@media screen and (max-width: 1399px) {
    .nav-bar .logo a {
        font-size: 20px;
    }

    .nav-bar>ul>li {
        padding: 30px 0;
    }

    .nav-bar ul li a {
        font-size: 18px;
    }
}

@media screen and (max-width:1199px) {

    .nav-bar .logo a {
        font-size: 25px;
    }

    .nav-bar ul li a {
        font-size: 13px;
    }

}

@media screen and (min-width:992px) {
    .popup_sidebar_sec.active {
        display: none;
    }
}


@media screen and (max-width:991px) {
    .header-area {
        padding: 30px 0;
    }

    .nav-bar ul {
        display: none;
    }

    .nav-bar .mobile_menuBtn {
        display: block;
    }

}